@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/simple-brush-script');
@import url('https://fonts.cdnfonts.com/css/franklin-gothic');
@import url(https://weloveiconfonts.com/api/?family=entypo);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

body {
  min-height: 100vh;
}

.wholebody {
  display: none;
}



/* PRELOADER  */
:root {
  --preload-color-background: #241E20;
  --preload-color-foreground: #ffffff;
  --preload-color-accent: #03a9f4;
  --preload-gap: 36px;
  --preload-icon-size: 128px;
  --preload-font: 2em Montserrat;
  --preload-title: 'EVERYTHINGEFFY';
  --preload-spinner-size: 32px;
  --preload-spinner-width: 3px;
}

#app-preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--preload-gap);
  justify-content: center;
  align-items: center;
  background: var(--preload-color-background);
  color: var(--preload-color-foreground);
  font: var(--preload-font);
  transition: .3s ease-in-out;
}

#app-preloader .preloader-logo {
  width: var(--preload-icon-size);
  height: var(--preload-icon-size);
  color: var(--preload-color-accent);
  filter: opacity(0);
  animation: preloader-logo-anim .3s .5s ease-out forwards;
  height: 200px;
  width: 100px;
}

#app-preloader .preloader-title:before {
  content: var(--preload-title);
  filter: opacity(0);
  animation: preloader-title-anim .3s .6s ease-out forwards;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes preloader-logo-anim {
  0% {
      filter: opacity(0);
      transform: translateY(-30px);
  }

  100% {
      filter: opacity(1);
      transform: translateY(0);
  }
}

@keyframes preloader-title-anim {
  0% {
      filter: opacity(0);
  }

  100% {
      filter: opacity(1);
  }
}



/* NAVBAR */
.premiumNav {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #241E20;
  ;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.business-name {
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: italic;
}

nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-weight: 1000;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
  background-color: #241E20;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow,
.links li:hover .access-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #241E20;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu,
nav .navbar .links li:hover .access-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-arrow2 {
  line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.navbar .links li .sub-menu .more-sub-menu2 {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.links li .sub-menu .more2:hover .more-sub-menu2 {
  display: block;
}


.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .cart-box i {

  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.notification .badge {
  position: absolute;
  top: 3px;
  right: 25px;
  padding: 5px 10px;
  color: white;
  font-size: medium;
}

.notification .badge2Free {
  position: absolute;
  top: 1px;
  right: 55px;
  padding: 5px 10px;
  color: white;
  font-size: medium;
}

.notification .badge2 {
  position: absolute;
  top: -1px;
  right: 80px;
  padding: 5px 10px;
  color: white;
  font-size: medium;
}

.navbar .user-box i {

  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #241E20;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

/* li.mob-search {
  display: none;
} */

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #241E20;
}

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #241E20;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.mob-search-box {
  pointer-events: auto;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}


.wish-mob {
  display: block;
}





/* WELCOME IMG AND TEXT ANIMATION */
.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  margin-top: 120px;
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.ml12 {
  font-size: 2em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
  font-family: cursive;
}

.welcomeimg {
  height: 400px;
  background-image: url(../img/photo_5933941273469762240_y.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcometext {
  text-align: center;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #241E20;
  color: #fff;

}

.welcome-user {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0rem;
  grid-template-columns: repeat(2, 1fr);
}



/* PRODUCTS ARRANGEMENT */
.newarr {
  text-align: center;
  font-family: 'Franklin Gothic', sans-serif;
  font-size: x-large;
}

.d-block {
  height: 500px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.card {
  padding: 1rem;
}

.product-showcase {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.sizes {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.prod {
  width: 400px;
}

.cards {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}



/* MARQUEE */
marquee {
  background-color: yellow;
}

.jumbotron {
  border: solid;
  border-radius: 1px;
  height: 70px;
  background: #241E20;
  ;
  color: white;
}



/* SECTORING CODE */
.sector {
  font-size: large;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}



/* VIEW ALL BUTTON CODE */
.view {
  font-size: large;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}



/*PRODUCT IMAGE CODE  */
.dress-card-img-top {
  width: 100%;
  border-radius: 7px 7px 0 0;
}





.dress-card-body {
  padding: 1rem;
  background: #fff;
  border-radius: 0 0 7px 7px;
}

.dress-card-title {
  line-height: 1.5rem;
}

.dress-card-crossed {
  text-decoration: line-through;
}

.dress-card-price {
  font-size: 1rem;
  font-weight: bold;
}

.dress-card-off {
  color: #241E20;
  ;
}

.dress-card-para {
  margin-bottom: 0.2rem;
  font-size: 1.0rem;
  margin-bottom: 0rem;
}

.dress-card {
  border-radius: 14px;
}

.card-button {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 9px;
}

.modalbtn {
  text-align: center;
}

.paramodal {
  align-content: center;
}

.heartwish {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding: 9px;
  cursor: pointer;
}

.card-button a {
  text-decoration: none;
}

.card-button-inner {
  padding: 10px;
  border-radius: 3px;
  width: 200px;
}

.card-button-inner:hover {
  cursor: pointer;
}

.bag-button {
  background: #241E20;
  ;
  color: white;
}

.bag-button :hover {
  background: #241E20;
  ;
}

.wish-button {
  border: 1px solid #241E20;
  ;
  color: #241E20;
  ;
}

#outer {
  width: 100%;
  text-align: left;
}

.likebtn i {
  color: #241E20;
  ;
  font-size: x-large;
  margin-top: 16px;
}

.likedbtn {
  display: none;
  color: #241E20;
  ;
  font-size: x-large;
  margin-top: 14px;
}



/* BACK TO TOP BUTTON */
#btn-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
}



/* SIDEBAR CODE */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

#sticky-social a {
  text-decoration: none;
  text-align: center;
}

#sticky-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sticky-social {
  left: 0;
  position: fixed;
  top: 15%;
  z-index: 2500;

}

#sticky-social a {
  position: absolute;
  width: 36px;
  background: #333;
  color: #fff;
  display: block;
  height: 39px;
  font: 17px "Roboto", sans-serif;
  line-height: 36px;
  position: relative;
  text-align: center;
  left: 0;
  transition: width .3s;
  top: 420px;

}

#sticky-social a span {
  line-height: 36px;
  left: -160px;
  position: absolute;
  text-align: center;
  width: 160px;
  height: 39px;

}

#sticky-social a:hover {
  left: 200%;
  width: 70px;
  text-align: left;
  border-radius: 2px;
}

#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span {
  background: #3b5998;
}

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span {
  background: #00aced;
}

#sticky-social a[class*="whatsapp"],
#sticky-social a[class*="whatsapp"]:hover,
#sticky-social a[class*="whatsapp"] span {
  background: #25D366
}

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span {
  background-image: linear-gradient(#5f4fa4, #e21591, #fed768);
}

.fa-whatsapp::after {
  font-family: 'Roboto';
  margin-top: 25px;
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
}

.entypo-twitter::after {
  font-family: 'Roboto';
  margin-top: 25px;
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
}

.entypo-facebook::after {
  font-family: 'Roboto';
  margin-top: 25px;
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
}

.entypo-instagrem::after {
  font-family: 'Roboto';
  margin-top: 25px;
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
}



/* REVIEW SLIDER */
.review {
  text-align: center;
  margin-top: 120px;
}

.review-slider {
  width: 400px;
}

.reviewHeader {
  font-size: 5em;
  font-weight: 800;
}

.fa-star {
  color: gold;
}

.comment {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0rem;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: #241E20; */
  margin-left: 150px;
}

shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

.testimonials {
  width: 100%;
  height: 200px;
}

#customers-testimonials {
  text-align: center;
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  font-weight: 300;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #241E20;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #241E20;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #241E20;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}



/* FOOTER */
footer {
  background-color: #241E20;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.aboutTheBrand {
  text-align: center;
}

.newsletter {
  text-align: center;
}

.contact {
  text-align: center;
}

.footerLogo {
  text-align: center;
}

.footerImg {
  width: 100%;
  height: 500px;
}

.privacy {
  text-align: center;
}

.service {
  text-align: center;
}