@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/simple-brush-script');
@import url('https://fonts.cdnfonts.com/css/franklin-gothic');
@import url(https://weloveiconfonts.com/api/?family=entypo);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: sienna;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.business-name {
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: italic;
}

nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-weight: 1000;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow,
.links li:hover .access-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: sienna;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu,
nav .navbar .links li:hover .access-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-arrow2 {
  line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.navbar .links li .sub-menu .more-sub-menu2 {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.links li .sub-menu .more2:hover .more-sub-menu2 {
  display: block;
}


.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .cart-box i {

  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.notification .badge {
  position: absolute;
  top: 17px;
  right: 20px;
  padding: 5px 10px;
  color: white;
  font-size: medium;
}

.notification .badge2 {
  position: absolute;
  top: 1px;
  right: 60px;
  padding: 5px 10px;
  color: white;
  font-size: medium;
}

.navbar .user-box i {

  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: sienna;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

/* li.mob-search {
  display: none;
} */

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: sienna;
}

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: sienna;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.mob-search-box {
  pointer-events: auto;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

.wish-mob {
  display: block;
}



/* WELCOME IMG */


.welcomeimg   {
  width: 100%;
  height:500px;
  background-image: url(https://thumbs.dreamstime.com/b/clothes-shop-8633252.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* PRODUCTS ARRANGEMENT */
.newarr {
  text-align: center;
  font-family: 'Franklin Gothic', sans-serif;
  font-size: x-large;
}

.d-block {
  height: 500px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.card {
  padding: 1rem;
}

.product-showcase {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.sizes {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.prod {
  width: 400px;
}

.cards {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}



/* MARQUEE */
marquee {
  background-color: yellow;
}

.jumbotron {
  border: solid;
  border-radius: 1px;
  height: 70px;
  background: sienna;
  color: white;
}



/* SECTORING CODE */
.sector {
  font-size: large;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}



/* VIEW ALL BUTTON CODE */
.view {
  font-size: large;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}



/*PRODUCT IMAGE CODE  */
.dress-card-img-top {
  width: 100%;
  border-radius: 7px 7px 0 0;
}

.dress-card-body {
  padding: 1rem;
  background: #fff;
  border-radius: 0 0 7px 7px;
}

.dress-card-title {
  line-height: 0.5rem;
}

.dress-card-crossed {
  text-decoration: line-through;
}

.dress-card-price {
  font-size: 1rem;
  font-weight: bold;
}

.dress-card-off {
  color: #E06C9F;
}

.dress-card-para {
  margin-bottom: 0.2rem;
  font-size: 1.0rem;
  margin-bottom: 0rem;
}

.dress-card {
  border-radius: 14px;
}

.card-button {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 9px;
}

.modalbtn {
  text-align: center;
}

.paramodal {
  align-content: center;
}

.heartwish {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding: 9px;
  cursor: pointer;
}

.card-button a {
  text-decoration: none;
}

.card-button-inner {
  padding: 10px;
  border-radius: 3px;
  width: 200px;
}

.bag-button {
  background: #E06C9F;
  color: white;
}

.bag-button :hover {
  background: #e299b9;
}

.wish-button {
  border: 1px solid #E06C9F;
  color: #E06C9F;
}

#outer {
  width: 100%;
  text-align: left;
}

.likebtn i {
  color: #E06C9F;
  font-size: x-large;
  margin-top: 16px;
}

.likedbtn {
  display: none;
  color: #E06C9F;
  font-size: x-large;
  margin-top: 14px;
}



/* BACK TO TOP BUTTON */
#btn-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
}



/* SIDEBAR CODE */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

#sticky-social a {
  text-decoration: none;
  text-align: center;
}

#sticky-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sticky-social {
  left: 0;
  position: fixed;
  top: 15%;
  z-index: 2500;

}

#sticky-social a {
  position: absolute;
  width: 36px;
  background: #333;
  color: #fff;
  display: block;
  height: 39px;
  font: 17px "Roboto", sans-serif;
  line-height: 36px;
  position: relative;
  text-align: center;
  left: 0;
  transition: width .3s;
  top: 420px;

}

#sticky-social a span {
  line-height: 36px;
  left: -160px;
  position: absolute;
  text-align: center;
  width: 160px;
  height: 39px;

}

#sticky-social a:hover {
  left: 200%;
  width: 70px;
  text-align: left;
}

#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span {
  background: #3b5998;
}

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span {
  background: #00aced;
}

#sticky-social a[class*="whatsapp"],
#sticky-social a[class*="whatsapp"]:hover,
#sticky-social a[class*="whatsapp"] span {
  background: #25D366
}

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span {
  background-image: linear-gradient(#5f4fa4, #e21591, #fed768);
}

.fa-whatsapp::after {
  font-family: 'Roboto';
  margin-top: 25px;
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
}

.entypo-twitter::after {
  font-family: 'Roboto';
  margin-top: 25px;
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
}

.entypo-facebook::after {
  font-family: 'Roboto';
  margin-top: 25px;
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
}

.entypo-instagrem::after {
  font-family: 'Roboto';
  margin-top: 25px;
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
}

/* ion-icon.active{
  animation:like 0.5s 1;
  fill:red;
  stroke:none;
}
ion-icon{
  fill:transparent;
  stroke:black;
  stroke-width:30;
  transition:all 0.5s;
  font-size: 30px;
  margin-top: 16px;
} */


/* @-webkit-keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.2); }
  100% { transform: scale(1.1); }
} */
